src/backend/.venv/
src/frontend/node_modules/
src/frontend/dist/
src/frontend/coverage/
src/backend/.pytest_cache/
src/backend/.ruff_cache/
src/backend/*.egg-info/
__pycache__/
*.pyc


.env
.vscode

tasks/projects/
./tasks/projects.yml 

