src/backend/.venv/
src/backend/.pytest_cache/
src/backend/.ruff_cache/
src/backend/*.egg-info/

src/frontend/node_modules/
src/frontend/dist/
src/frontend/coverage/

__pycache__/
*.pyc

src/runner/node_modules/
src/runner/dist/
src/runner/coverage/
src/runner/logs/


.env
.vscode

tasks/projects/
tasks/projects.yml
